@media print {
  body * {
    visibility: hidden;
    }
    .invoice-preview,
    .invoice-preview * {
        visibility: visible;
    }
    .invoice-preview {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }

    .invoice-item {
        page-break-inside: avoid;
    }

    body {
        font-size: 12pt;
    }
    h1 {
        font-size: 18pt;
    }
    h2 {
        font-size: 16pt;
    }

    .invoice-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}
